/* ==========================================================================
Fonts
========================================================================== */
@font-face {
    font-family: 'League Gothic';
    src: url(../fonts/LeagueGothic-Regular.otf);
}
/* ==========================================================================
Author's custom styles
========================================================================== */
body,
*{
    font-family: "Arial Narrow",Arial, sans-serif;
}
body{
    font-size: 12px;
    color: #999999;
}
.site-header{
    margin-bottom: 15px;
}
.site-title{
    margin: 58px 0 0;
}
.site-title a{
    font-family: "League Gothic";
}
.search-connect-links{
    display: flex;
    flex-direction: row-reverse;
}
.connect-icons{
    margin-left: 9px;
}
.connect-icons > li{
    margin-right: 20px;
}
.connect-icons > li:last-child{
    margin-right: 0;
}
.connect-icons > li > .connect-icon{
    width: 40px;
    background: #5fb7c6;
    color: #fff;
    border-radius: 0;
    font-size: 24px;
    height: 99px;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 9px;
    text-align: center;
}
.search-site-map{
    text-align: right;
    padding-top: 28px;
}
.search-site-map form{
    display: inline-block;
}
.search-site-map .input-group{
    width: 238px;
}
.search-site-map .input-group-addon{
    font-size: 25px;
    padding: 0 3px;
    color: #fff;
}
.search-site-map .input-group .form-control,
.search-site-map .input-group .input-group-addon{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #ebe4de;
}

.form-control:focus,
.form-control:active{
    outline: none;
}
.top-menu > li > a{
    border-radius: 0;
    padding: 0 12px;
    text-align: right;
    text-transform: uppercase;
    color :#aaaaaa;
    border-right: 1px solid #aaa;
}
.top-menu > li:first-child > a{
    padding: 0 0 0 12px;
    border-right: 0;
}
.top-menu > li > a:hover{
    color :#5fb7c6;
    background: 0;
}
.top-menu > li{
    float: right;
}
.main-menu{
    padding: 0;
}
.site-menu > li{
    border-right: 5px solid #eeeeee;
}
.site-menu > li:last-child{
    border-right: 0;
}
.site-menu > li > a{
    font-family: "League Gothic";
    font-size: 24px;
    color :#0a8ca3;
}
.site-menu > li > a:hover{
    background: 0;
    color: #aaa;
}
.site-menu > li:first-child > a{
    padding-left: 0;
}
.post-list .post{
    padding: 0 15px 15px 15px;
}
.post-list .post:nth-last-child(-n+3){
    padding: 0 15px 0 15px;
}
.post-list .post .wrapper,
.recent-post-widget .post .wrapper{
    background: url(../img/panel-bg.jpg);
    padding: 25px 19px;
}
.post-title{
    margin: 0 0 16px;
    color: #333333;
}
.post-title a{
    font-size: 15px;
    color: #333333;
    display: block;
}
.post-title a:hover{
    text-decoration: none;
}
.post-meta > li{
    border-right: 1px solid #a5a4a3;
}
.post-meta > li:last-child{
    border-right: 0;
}
.post-meta a{
    color : #999;
    font-size: 12px; 
}
.post-thumbnail{
    margin: 19px 0 21px;
}
.post-content{
    margin-bottom: 14px;
    color :#555;
}
.entry-footer{
    position: relative;
    padding-right: 30px;
    text-transform: uppercase;
    color: #aaacaf;
}
.entry-footer:after{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../img/comment-icon.png) center no-repeat;
    content: "";
    line-height: 0;
    position: absolute;
    top: -3px;
    right: 0;
}
.side-content h1,
.side-content h2,
.side-content h3,
.side-content h4,
.side-content h5,
.side-content h6,
.side-content .h1,
.side-content .h2,
.side-content .h3,
.side-content .h4,
.side-content .h5,
.side-content .h6{
    color: #0a8ca3;
    font-weight: 700;
}
.widget{
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 2px solid #44afc2;
}
.widget-title{
    margin-top: 0;
}
.widget:last-child{
    margin-bottom: 0;
    border: 0;
}
.widget img,
.widget iframe{
    border: 5px solid #44afc2;
}
.widget-news-letter .form-control,
.widget-news-letter .input-group-addon{
    border: 4px solid #44afc2;
}
.widget-news-letter .form-control{
    border-right: 0;
}
.widget-news-letter .form-control + .input-group-addon{
    border-left: 0;
    background: #44afc2;
    color:#fff;
    font-size: 20px;
    padding: 0 5px 0 12px;
}
.widget-news-letter button{
    border: 0;
    padding: 0;
    background: inherit;
}
.main-content{
    margin-bottom: -45px;
}
.site-footer{
    padding-top: 88px;
    background: url(../img/wave_pattern.png) top center no-repeat;
    background-size: 100% 500px;
}
.footer-widgets-1{
    color: #333333;
    margin-bottom: 60px;
}
.footer-widgets-1 .widget-title{
    color:#fff;
    font-family: "League Gothic";
    font-size: 36px;
}
.recent-post-widget{
    margin-top: -25px;
}
.footer-widgets-1 a{
    color: #fff;
}
.social-icons{
    display: flex;
    justify-content: flex-end;
}
.social-icon{
    display: block;
    height: 54px;
    width: 55px;
    background: url(../img/social-icons.png) no-repeat;
    background-position: left center;
}
.social-icon.facebook{
    background-position: center;
}
.social-icon.rss{
    background-position: right center;
}
.input-group .form-control,
.input-group .input-group-addon{
    border: 1px solid #82cad6;
    border-radius: 0;
}
.widget .contact-form .input-group{
    display: flex;
    margin-bottom: 17px;
}
.widget .contact-form .input-group .input-group-addon{
    background: #5ebcca;
    border-color :#5ebcca;
    width: 60px;
    height: 27px;
    box-sizing: border-box;
    padding: 1px 0 0;
    font-size: 10px;
    vertical-align: top;
}
.btn-theme{
    color :#fff;
    border-radius: 0;
    background:#82cad6;
}